.contenedor{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: repeat(7, auto);
	grid-template-areas: 
	"botonera" 
	"header" 
	"main"
	"accesibilidad"
	"maps"
	"btn"
	"footer";
}

.contenedor2{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"botonera" 
	"header" 
	"main"
	"btn"
	"footer";
}

@media (min-width: 768px){
	.contenedor{
		grid-template-columns: 50vw 50vw;
		grid-template-rows: repeat(7, auto);
		grid-template-areas: 
		"botonera botonera" 
		"header header"
		"main main"
		"accesibilidad accesibilidad"
		"maps maps"
		"btn btn"
		"footer footer";
	}

	h1{
	font-size: $fontXl;
	}

	h2{
		font-size: $fontMd;
	}

	#accesibilidad{
		display: flex;
		flex-direction: row;
		justify-content:center;
		margin-bottom: 10px;
	}

	#horarios{
		padding-right: 5px;
		width: 60%;
		height: auto;
		background-color: white;
		font-size: $fontXxs;
	}
		#horarios ul li{
			list-style: none;
			font-size: $fontXxs;
		}

	#llegada{
		width: 40%;
		height: auto;
		background-color: white;
		font-size: $fontXxs;
	}
		#llegada ul li{
			font-size: $fontXxs;
			list-style: none;
		}

	.width{
		width: 100%;
	}

	.maps{
		width: 40%;
		margin-right: 10%;
	}

	.icono-footer{
	width: 10%;
	}
}

@media (min-width: 1024px){
	.contenedor{
		grid-template-columns: 40vw 40vw 20vw;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 
		"botonera botonera botonera" 
		"header header header"
		"main main main"
		"btn btn btn"
		"accesibilidad accesibilidad maps"
		"footer footer footer";
	}
	#accesibilidad{
		display: flex;
		flex-direction: row;
		justify-content:center;
		margin-bottom: 10px;
	}

	#horarios{
		width: 50%;
		height: auto;
		background-color: $white;
	}
		#horarios ul li{
			list-style: none;
			font-size: $fontXs;
		}

	#llegada{
		width: 50%;
		height: auto;
		background-color: $white;
	}
		#llegada ul li{
			list-style: none;
		}

	#carousel-maps{
		display: flex;
		flex-direction:row;
		justify-content: space-between;
	}

	h1{
	font-family: 'Barlow Condensed', sans-serif;
	font-size: $fontXxl;
	margin-bottom: 20px	;
	font-weight: $f-weight4;
}

	h2{
		font-family: 'Barlow Condensed', sans-serif;
		font-size: $fontXl;
		font-weight: $f-weight3;
	}

	h3{
		font-size: $fontSm;
		font-weight: 500;
		color: black;
	}
	#parrafos{
	margin: 5% 3%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: $fontSm;
	text-align: center;		
	color: $p-color;
	}

	.icono-footer{
		padding-top: 10px;
		align-self: center;
		width: 80px;
		height: auto;
	}

	.slogan-footer{
		padding-bottom: 20px;
		align-self: center;
		width: 300px;
		height: auto;
	}

	.carousel2{
		width: 60%;
	}

}

@media (min-width: 1200px){
	.contenedor{
		grid-template-columns: 25vw 25vw 25vw 25vw;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: 
		"botonera botonera botonera botonera" 
		"header header header header" 
		"main main main main"
		"accesibilidad accesibilidad accesibilidad maps"
		"btn btn btn btn"
		"footer footer footer footer";
	}

	#accesibilidad{
		display: flex;
		flex-direction: row;
		justify-content:center;
		align-items: center;
		align-content:center;
		margin-bottom: 10px;
	}

	#horarios{
		display: flex;
		align-items: center;
		width: 85%;
		height: auto;
		background-color: $white;
		margin-right: 10px;
	}
		#horarios ul li{
			list-style: none;
			font-size: $fontXxs;
		}

	#llegada{
		display: flex;
		align-items: center;
		width: 50%;
		height: auto;
		background-color: $white;
	}
		#llegada ul li{
			font-size: $fontXxs;
			list-style: none;
		}

	#carousel-maps{
		display: flex;
		flex-direction:row;
	}
}

@media (min-width: 768px){
	.contenedor2{
		grid-template-columns: 50vw 50vw;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"botonera botonera" 
		"header header"
		"main main"
		"btn btn"
		"footer footer";
	}

	#img-nosotros{
	display: flex;
	justify-content: center;
	flex-direction: row;
	}

	#parrafos{
	margin: 5% 3%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: $fontSm;
	text-align: center;		
	color: $p-color;
}
}

@media (min-width: 1024px){
	.contenedor2{
		grid-template-columns: 40vw 40vw 20vw;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"botonera botonera botonera" 
		"header header header"
		"main main main"
		"btn btn btn"
		"footer footer footer";
	}

	#parrafos{
	margin: 5% 3%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: $fontSm;
	text-align: center;		
	color: $p-color;
}
}

@media (min-width: 1200px){
	.contenedor2{
		grid-template-columns: 25vw 25vw 25vw 25vw;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"botonera botonera botonera botonera" 
		"header header header header" 
		"main main main main"
		"btn btn btn btn"
		"footer footer footer footer";
	}
}